.show_tweet {
    width: 300px;
    height: auto;
    background: #227093;
    color: white;
    font-family: Arial;
    font-size: 18px;
    border-radius: 4px;
    box-shadow: 2px 2px 20px black;
    margin: 10px;
    padding: 10px;
    text-align: left;
}